{deps, [
    {erlang_v8, {git, "https://github.com/strange/erlang-v8", {branch, master}}},
    {taser, {git, "https://github.com/trelltech/taser.git"}},
    {oath, {git, "https://github.com/strange/oath.git"}},
    hackney,
    {gun, {git, "https://github.com/ninenines/gun/", {tag, "1.0.0-pre.4"}}},
    lager
]}.

{profiles, [
    {test, [
        {deps, [
            {hemlock, {git, "https://github.com/trelltech/hemlock.git"}}
        ]}
    ]}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.
